<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div id="table-hours" class="table-hours" th:fragment="tableUsers">
    <div class="container">
        <table>
            <tr>
                <td class="td-left"></td>
                <td class="bgcolor-td" th:each="dayOfWeek: ${weeks}">
                    <p th:utext="${dayOfWeek}" th:class="${dayOfWeek == 'СБ'} OR ${dayOfWeek == 'ВС'}? weekEnd"></p>
                </td>
                <td class="td-right"></td>
            </tr>
            <tr>
                <td class="bgcolor-td td-name"> </td>
                <td class="bgcolor-td" th:each="day: ${days}">
                    <p th:utext="${day}"></p>
                </td>
                <td class="bgcolor-td" style="font-size: 25px">
                    <p>Σ</p>
                </td>
            </tr>

            <form name="hours" action="#" th:action="@{/hours/{month}-{year}(month=${month},year=${year})}"
                  th:object="${users}" method="post" onsubmit="return false;">
                <tr th:each="user, itemStat : *{userList}" class="tr-hours">
                    <td class="bgcolor-td td-name" th:utext="${user.lastname} + ' ' + ${user.firstname}">...</td>
                    <td th:each="day, itemStat1 : *{userList[__${itemStat.index}__].hours}">
                        <input type="hidden"
                               th:field="*{userList[__${itemStat.index}__].hours[__${itemStat1.index}__].id}">
                        <input type="hidden"
                               th:field="*{userList[__${itemStat.index}__].hours[__${itemStat1.index}__].user.id}">
                        <input type="hidden"
                               th:field="*{userList[__${itemStat.index}__].hours[__${itemStat1.index}__].date}">
                        <div class="div-save" th:if="${day.saved}">
                            <input type="hidden"
                                   th:field="*{userList[__${itemStat.index}__].hours[__${itemStat1.index}__].hours}"
                                   class="input">
                        </div>
                        <div class="div-not-save" th:if="${not day.saved}">
                            <input type="hidden"
                                   th:field="*{userList[__${itemStat.index}__].hours[__${itemStat1.index}__].hours}"
                                   class="input">

                        </div>
                    </td>
                    <td class="bgcolor-td"><input type="hidden" th:value="${user.sumHours}" class="bgcolor-td sum"
                                                  readonly></td>
                </tr>
                <script type="text/javascript">
                                var inputs = document.getElementsByClassName('input');
                                var sums = document.getElementsByClassName('sum');
                                var save = document.getElementsByClassName('div-save');
                                for(let i = 0; i < inputs.length; i++){
                                    inputs[i].value = (inputs[i].value==Math.round(inputs[i].value)) ? Math.round(inputs[i].value): Math.round(inputs[i].value*Math.pow(10,1))/Math.pow(10,1);
                                    inputs[i].type="number";
                                    if (inputs[i].value > 8) {
                                        inputs[i].style = "background-color: #009c29";
                                    }
                                    if (inputs[i].value == 8) {
                                        inputs[i].style = "background-color: #00FF00";
                                    }
                                    if (inputs[i].value < 8 && inputs[i].value > 0) {
                                        inputs[i].style = "background-color: #94ffb0";
                                    }
                                }

                                for(let i = 0; i < sums.length; i++){
                                    sums[i].value = (sums[i].value==Math.round(sums[i].value)) ? Math.round(sums[i].value): Math.round(sums[i].value*Math.pow(10,1))/Math.pow(10,1);
                                    sums[i].type="number";
                                }
                                for(let i = 0; i < save.length; i++){
                                    save[i].style="border-width: 2px";
                                }








                </script>
            </form>
        </table>
        <input type="button" class="submit" onclick="document.forms['hours'].submit();">
    </div>
</div>
</body>
</html>