<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>User List</h1>
<div>
    <div class="container">
        <table>
            <tr>
                <td bgcolor="##bfbfbf" class="td-name"> <p>Name</p></td>
                <td bgcolor="##bfbfbf" th:each="day: ${days}">
                    <p th:utext="${day}">id</p>
                </td>
            </tr>
            <tr th:each="user : ${users}">
                <td bgcolor="##bfbfbf" th:utext="${user.lastname} + ' ' + ${user.firstname}">...</td>
                <td th:each="day: ${user.monthHours}">
                    <p th:utext="${day.hours}">id</p>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>